*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

@media screen and (max-width: 1920px){
    .fin{
        display: none;
    }
    .pf{
    background-color: black;
    width: 100%;
    height: 149px;
    width: auto;
    }
    .pfi{
        position: relative;
        left: 45%;
        top: 20%;
        width: 198px;
    }
    .ps{
        height: 732px;
        background-image:url("./asset/fo1920.png");
        width: auto;
        
       }
    .buto{
        display: block;
        position: relative;
        left: 75%;
        top: -263px;
        
    }
    button{
        width: 291px;
        height: 74px;
        background-color: #E61664;
        color: white;
        font-size: 21px;
        font-weight: 300;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        border-style: none;
        border-radius: 5px;
        margin-top: 22px;
        margin-bottom: 13px;
        cursor: pointer;
        display: block;
        
    }
    .bt2{
        display: flex;
        text-decoration: none;
        width: 291px;
        height: 74px;
        background-color: white;
        color: black;
        font-size: 18px;
        font-weight: 800;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        border-style: none;
        border-radius: 5px;
        margin-top: 13px;
        margin-bottom: 13px;
    }
    .t1 {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 116px;
        font-weight: 800;
        text-align: right;
        position: relative;
        right: 30%;
        top: 77px;
        color: white;
    }
    .t2 {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 116px;
        font-weight: 800;
        text-align: right;
        position: relative;
        right: 30%;
        top: 61px;
        color: #E61664;
        line-height: 117px;
    }
    .t3 {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 116px;
        font-weight: 300;
        text-align: right;
        position: relative;
        right: 30%;
        top: 63px;
        color: black;
        font-style: italic;
    }
    .y1{
        margin-left: 18px;
        margin-top: 22px;
        margin-right: 11px;
    }
    .yu{
        position: relative;
        top:34%;
    }
    button:active{
        background-color: #F995BE;
        border-style: none;
    }
    button:hover{
        background-color: #F995BE;
    }
    .bt2:hover{
        background-color: #EFEEEE;
    }
    .bt2:active{
        background-color: #EFEEEE;
    }
    a{
        text-decoration: none;
    }
    .eloi{
        width: 100%;
        height: 200px;
        background-color: #F49703;
        position: relative;
        left: 0%;
    }
    }
@media screen and (max-width: 1440px){
        .fin{
        display: none;
    }
        .pf{
        background-color: black;
        width: 100%;
        height: 112px;
        }
        .pfi{
            position: relative;
            left: 45%;
            top: 20%;
            width: 149px;
            
        }
        .ps{
            height: 661px;
            background-image:url("./asset/fo1440.png");
            width: auto;
            
           }
        .buto{
            display: block;
            position: relative;
            left: 75%;
            top: -263px;
            
        }
        button{
            width: 219px;
            height: 56px;
            background-color: #E61664;
            color: white;
            font-size: 16px;
            font-weight: 300;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            border-style: none;
            border-radius: 5px;
            margin-top: 22px;
            margin-bottom: 13px;
            cursor: pointer;
            display: block;
            
        }
        .bt2{
            display: flex;
            text-decoration: none;
            width: 219px;
            height: 56px;
            background-color: white;
            color: black;
            font-size: 12px;
            font-weight: 800;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            border-style: none;
            border-radius: 5px;
            margin-top: 13px;
            margin-bottom: 13px;
        }
        .t1 {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 87px;
            font-weight: 800;
            text-align: right;
            position: relative;
            right: 30%;
            top: 77px;
            color: white;
        }
        .t2 {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 87px;
            font-weight: 800;
            text-align: right;
            position: relative;
            right: 30%;
            top: 61px;
            color: #E61664;
            line-height: 84px;
        }
        .t3 {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 87px;
            font-weight: 300;
            text-align: right;
            position: relative;
            right: 30%;
            top: 63px;
            color: black;
            font-style: italic;
        }
        .y1{
            margin: 10px;
        }
        .yu{
            position: relative;
            top:34%;
        }
        button:active{
            background-color: #F995BE;
            border-style: none;
        }
        button:hover{
            background-color: #F995BE;
        }
        .bt2:hover{
            background-color: #EFEEEE;
        }
        .bt2:active{
            background-color: #EFEEEE;
        }
        a{
            text-decoration: none;
        }
        }
@media screen and (max-width: 1366px){
            .fin{
            display: none;
            }
            .pf{
            background-color: black;
            width: 100%;
            height: 106px;
            }
            .pfi{
                position: relative;
                left: 45%;
                top: 20%;
                width: 141px;
            }
            .ps{
                height: 521px;
                background-image:url("./asset/fondoPC.png");
                width: auto;
               }
            .buto{
                display: block;
                position: relative;
                left: 75%;
                top: -263px;
                
            }
            button{
                width: 208px;
                height: 53px;
                background-color: #E61664;
                color: white;
                font-size: 16px;
                font-weight: 300;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                border-style: none;
                border-radius: 5px;
                margin-top: 22px;
                margin-bottom: 13px;
                cursor: pointer;
                display: block;
                
            }
            .bt2{
                display: flex;
                text-decoration: none;
                width: 208px;
                height: 53px;
                background-color: white;
                color: black;
                font-size: 12px;
                font-weight: 800;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                border-style: none;
                border-radius: 5px;
                margin-top: 13px;
                margin-bottom: 13px;
            }
            .t1 {
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                font-size: 80px;
                font-weight: 800;
                text-align: right;
                position: relative;
                right: 30%;
                top: 77px;
                color: white;
            }
            .t2 {
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                font-size: 80px;
                font-weight: 800;
                text-align: right;
                position: relative;
                right: 30%;
                top: 61px;
                color: #E61664;
                line-height: 84px;
            }
            .t3 {
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                font-size: 80px;
                font-weight: 300;
                text-align: right;
                position: relative;
                right: 30%;
                top: 63px;
                color: black;
                font-style: italic;
            }
            .y1{
                margin: 10px;
            }
            .yu{
                position: relative;
                top:34%;
            }
            button:active{
                background-color: #F995BE;
                border-style: none;
            }
            button:hover{
                background-color: #F995BE;
            }
            .bt2:hover{
                background-color: #EFEEEE;
            }
            .bt2:active{
                background-color: #EFEEEE;
            }
            a{
                text-decoration: none;
            }
            }
@media screen and (max-width: 1024px){
    
    .fin{
        display: none;
    }
    .pf{
    background-color: black;
    width: 100%;
    height: 80px;
    }
    .pfi{
        position: relative;
        left: 45%;
        top: 20%;
        width: 105px;
    }
    .ps{
        height: 390px;
        background-image:url("./asset/fo1024.png");
        width: auto;
       }
    .buto{
        display: block;
        position: relative;
        left: 75%;
        top: -196px;
        
    }
    button{
        width: 155px;
        height: 40px;
        background-color: #E61664;
        color: white;
        font-size: 11px;
        font-weight: 300;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        border-style: none;
        border-radius: 5px;
        margin-top: 22px;
        margin-bottom: 13px;
        cursor: pointer;
        display: block;
        
    }
    .bt2{
        display: flex;
        text-decoration: none;
        width: 155px;
        height: 40px;
        background-color: white;
        color: black;
        font-size: 9px;
        font-weight: 800;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        border-style: none;
        border-radius: 5px;
        margin-top: 13px;
        margin-bottom: 13px;
    }
    .t1 {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 60px;
        font-weight: 800;
        text-align: right;
        position: relative;
        right: 30%;
        top: 77px;
        color: white;
    }
    .t2 {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 60px;
        font-weight: 800;
        text-align: right;
        position: relative;
        right: 30%;
        top: 61px;
        color: #E61664;
        line-height: 64px;
    }
    .t3 {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 60px;
        font-weight: 300;
        text-align: right;
        position: relative;
        right: 30%;
        top: 63px;
        color: black;
        font-style: italic;
    }
    .y1{
        margin: 11px;
        width: 18px;
    }
    .yu{
        position: relative;
        top:34%;
    }
    button:active{
        background-color: #F995BE;
        border-style: none;
    }
    button:hover{
        background-color: #F995BE;
    }
    .bt2:hover{
        background-color: #EFEEEE;
    }
    .bt2:active{
        background-color: #EFEEEE;
    }
    a{
        text-decoration: none;
    }
    }
@media screen and (max-width: 375px){
        .pf{
        background-color: black;
        width: 100%;
        height: 82px;
        }
        .pfi{
            position: relative;
            left: 45%;
            top: 20%;
            width: 80px;
        }
        .ps{
            height: 630px;
            width: auto;
            background-image:url("./asset/fondocell.png");
            
           }
        .buto{
            display: block;
            position: relative;
            left: 60%;
            top: 156px;
            
        }
        button{
            width: 127px;
            height: 32px;
            background-color: #E61664;
            color: white;
            font-size: 9px;
            font-weight: 300;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            border-style: none;
            border-radius: 5px;
            margin-top: 22px;
            margin-bottom: 13px;
            cursor: pointer;
            display: block;
            
        }
        .bt2{
            display: none;
            /*display: flex;
            text-decoration: none;
            width: 127px;
            height: 32px;
            background-color: white;
            color: black;
            font-size: 7px;
            font-weight: 800;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            border-style: none;
            border-radius: 5px;
            margin-top: 13px;
            margin-bottom: 13px;*/
        }
        .t1 {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 50px;
            font-weight: 800;
            text-align: right;
            position: relative;
            right: 58%;
            top: 28px;
            color: white;
        }
        .t2 {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 50px;
            font-weight: 800;
            text-align: left;
            position: relative;
            right: -9%;
            top: 19px;
            color: #E61664;
            line-height: 49px;
        }
        .t3 {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 50px;
            font-weight: 300;
            text-align: right;
            position: relative;
            right: 8%;
            top: 22px;
            color: black;
            font-style: italic;
        }
        .y1{
            margin: 8px;
            width: 14px;
        }
        .yu{
            position: relative;
            top:34%;
        }
        button:active{
            background-color: #F995BE;
            border-style: none;
        }
        button:hover{
            background-color: #F995BE;
        }
        .bt2:hover{
            background-color: #EFEEEE;
        }
        .bt2:active{
            background-color: #EFEEEE;
        }
        a{
            text-decoration: none;
        }
        .fin{
            background-color: #FFEC00;
            width: 100%;
            height: 110px;
            display: flex;
            position: relative;
            bottom: 0px;
            box-shadow: #30290266 3pt -3pt 2pt;
        }
        .fintex{
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 20px;
            font-weight: 300;
            text-align: left;
            position: relative;
            left: 4%;
            top: 29px;
            color: black;
        }
        .btn2{
            display: flex;
            text-decoration: none;
            width: 127px;
            height: 32px;
            background-color: white;
            color: black;
            font-size: 7px;
            font-weight: 800;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            border-style: none;
            border-radius: 5px;
            margin-top: 13px;
            margin-bottom: 13px; 
        }
        .awa{
            position: relative;
            left: 10%;
            top: 21px;
        }
        .eloi{
            display: none;
        }
        }




            